.header{
  .navigation-bar{
    background-color: #0F1217!important;
    padding: 18px 0;
    .container{
      .navbar{
        padding: 0;
        justify-content: space-between;
        @media screen and (max-width: 576px){
          display: block !important;
          width: 100%;
        }
        .navbar-brand{
          width: 135px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          @media screen and (max-width: 576px){
            display: block ;
            margin-bottom: 30px;
            margin-right: auto;
            margin-left: auto;
          }
          img{
            width: 100%;
            height: 100%;
          }
        }
        .navbar-nav{
          @media screen and (max-width: 576px){
            display: flex !important;
            justify-content: space-between !important;
            flex-direction: unset;
            width: 90%;
            margin: 0 auto;
          }
          .nav-item{
            @media screen and (max-width: 576px){
              width: 16%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .nav-link{
              @media screen and (max-width: 576px){
                //display: inline !important;
                font-size: 14px;
                padding: 8px 18px;
              }
              color: #C1C3C7;
              padding: 8px 18px;

              background: transparent;
              transition: all .2s;
              border-radius: 7px;
              &:hover{
                background: #22242D;
              }
            }
          }
        }
      }
    }
  }
  //.section{
  //  width: 100%;
  //  background-image:   linear-gradient(0deg, #CF2424, #CF2424);
  //  background-repeat: no-repeat;
  //  .section-content{
  //    background-image: url("../images/Subtract.png");
  //    background-repeat: no-repeat;
  //    .section-content1{
  //      background-image: url("../images/Vector (6).png");
  //      background-repeat: no-repeat;
  //      background-position: bottom left;
  //      background-size: 100%;
  //      .section-header{
  //       .row{
  //         position: relative;
  //         width: 100%;
  //         overflow: hidden;
  //         .col-sm-6:first-child{
  //           position: relative;
  //           .images-content{
  //             overflow: hidden;
  //             margin-top: 130px;
  //             margin-left: 20px;
  //             height: 590px;
  //             img{
  //               width: 100%;
  //               height: 100%;
  //             }
  //           }
  //           .img-position{
  //             position: absolute;
  //             right: 0;
  //             top: 30%;
  //             img{
  //               width: 100%;
  //               height: 100%;
  //             }
  //           }
  //         }
  //         .col-sm-6:last-child{
  //           overflow: hidden;
  //           .images-content{
  //             margin-top: 10px;
  //             margin-left: 125px;
  //             width: 430px;
  //             height: 480px;
  //             img{
  //               width: 100%;
  //               height: 100%;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  //  }
  //}

  .section{
      background-image:   linear-gradient(0deg, #CF2424, #CF2424);
    position: relative;
    padding-bottom: 80px;
    z-index: -1;
    @media screen and (max-width: 576px){
      display: none;
    }
    @media screen and (min-width: 576px){
      display: block;
    }

    .subtract{
      height: 600px;
      z-index: 99999999999;
      //width: 300px;
    }
    .kitay-column{
      position: absolute;
      width: 700px;
      height: 450px;
      left: -40px;
      top: 140px;
      z-index: -1;
    }
    .vector{
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
    }
    .Group{
      position: absolute;
      top: 260px;
      left: 200px;
    }
    .Group1{
      position: absolute;
      width: 400px;
      right: 13%;
      top: 5px;
    }
    .ninja-header{
      position: absolute;
      width: 100px;
      top: 45px;
      left: 320px;
    }
    .ninja-header1{
      position: absolute;
      left: 535px;
      top: -3px;
    }
    .grow{
      position: absolute;
      right: 0;
      bottom: 23%;
    }
  }
  .sectionmedia{
    background-image:   linear-gradient(0deg, #CF2424, #CF2424);
    height: 700px;
    position: relative;
    overflow-x: hidden!important;
    @media screen and (max-width: 576px){
      display: block;
    }
    @media screen and (min-width: 576px){
      display: none;
    }
    .ninja-media{
      position: absolute;
    }
    .building-media{
      margin-left: 80px;
    }
  }
  .calendar{
    //padding-bottom:7px;
    margin-top: -130px;
    z-index: 2;
    @media screen and (max-width: 576px){
      margin-top: -190px;
      position: relative;
    }
    .Group1media{
      @media screen and (max-width: 576px){
        display: block;
        position: absolute;
        top: -159%;
        right: 0;
        width: 250px;
        height: 350px;
      }
      @media screen and (min-width: 576px){
        display: none;
      }
    }
    .container{
      overflow: hidden;
      position: relative;
      background: linear-gradient(0deg, #0F1217, #0F1217), #121212;
      border-radius: 10px;
      top: -96px;
      @media screen and (max-width: 576px){
        margin: 0 auto;
        max-width: 96.5%;
      }
      .row{
        padding: 10px;
        .col-sm-6:nth-child(1){
          @media screen and (max-width: 576px){
            display: block;
          }
          @media screen and (min-width: 576px){
            display: none;
          }
        }
        .col-sm-6:nth-child(3){
          @media screen and (max-width: 576px){
            display: none;
          }
          @media screen and (min-width: 576px){
            display: block;
          }
        }
        .col-sm-6:nth-child(2){
          p{
            color: #fff;
            margin-bottom: 10px;
            font-size: 18px;
            margin-top: 6px;
            @media screen and (max-width: 576px){
              margin-bottom: 0;
              margin-top: 10px;
            }
          }
          h3{
            color: #F8C567;
            font-size: 46px;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 20px;
            @media screen and (max-width: 576px){
              font-size: 39px;
            }
          }
          button{
            border: none;
            background: #E22525;
            padding: 4.9px 38px;
            color: #fff;
            margin: 0 auto;
            display: block;
            border-radius: 4px;
            box-shadow: 0 15px 25px rgba(226, 37, 37, 0.25);
          }
        }
        .col-sm-6{
          @media screen and (max-width: 576px){
            min-width: 90%;
            margin: 0 auto;
          }
          padding: 0;
          p{
            @media screen and (max-width: 576px){
              //margin-top: 20px;
            }
          }
          .list-unstyled{
            display: flex;
            justify-content: end;
            margin: 0;
            padding-right: 23px;
            @media screen and (max-width: 576px){
              justify-content: center!important;
              padding-right: 0;
            }
            li:nth-child(1){
            }
            li:last-child{
              @media screen and (max-width: 576px){
                margin-right: 0!important;
              }
            }
            li{
              background: linear-gradient(0deg, #22242D, #22242D), #22242D;
              margin-right: 10px;
              padding: 48px 28px;
              border-radius: 15px;
              @media screen and (max-width: 576px){
               padding: 23px 12px;
              }
              h5{
                font-size: 52px;
                @media screen and (max-width: 576px){
                 font-size: 45.4px;
                }
                color: #fff;
                margin-bottom: 3px;
                letter-spacing: 1.1px;
                font-weight: 700;
              }
              span{
                color: #fff;
                font-size: 14.5px;
                text-align: center;
                @media screen and (max-width: 576px){
                 font-size: 13.6px;
                }
              }
            }
            li:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}